<div class="registration-form">
  <form (submit)="submitRegister()">
    <input autocomplete="off" readonly
           onfocus="this.removeAttribute('readonly')"
           type="text" placeholder="Enter you name" name="name"
           [(ngModel)]="userRegisterData.name">
    <input autocomplete="off" readonly
           onfocus="this.removeAttribute('readonly')"
           type="text" placeholder="Enter your email" name="email"
           [(ngModel)]="userRegisterData.email">
    <input autocomplete="off" readonly
           onfocus="this.removeAttribute('readonly')"
           type="password" placeholder="Enter your password" name="password"
           [(ngModel)]="userRegisterData.password">
    <div *ngIf="isEmptyFields">You must fill all fields</div>
    <button type="submit">Register</button>
  </form>
</div>
