.registration-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  form{
    input{
      outline: none;
      padding: 5px;
      display: block;
      margin-bottom: 10px;
    }
    .back-mail-error{
      color: red;
      margin-bottom: 10px;
    }
    .back-password-error{
      color: red;
      margin-bottom: 10px;
    }
    .empty-error{
      color: red;
      margin-bottom: 10px;
    }
    button{
      &:hover{
        cursor:pointer;
      }
    }
  }
}
