.leaderboard {
  margin-top: 20px;
  .page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .leaderboard-table{
    display: flex;
    justify-content: center;
    align-items: center;
    table{
      width: 100%;
      .table-head{
        background-color: aqua !important;
      }
      .leader {
        span {
          font-size: 14px;
          color: red;
        }
      }
      tr{
        border: 1px solid black;
        height: 40px;
        font-size: 20px;
        &:nth-child(even){
          background-color: lightgray;
        }
        &:nth-child(odd){
          background-color: gray;
        }
        th{

        }
        td{
          text-align: center;
        }
      }
    }
  }
}
