.leaderboard {
  .page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .leaderboard-table{
    display: flex;
    justify-content: center;
    align-items: center;
    table{
      width: 100%;
      tr{
        th{

        }
        td{
          text-align: center;
        }
      }
    }
  }
}
